<section id="acercade">

    <div class="contenedor-foto">

        <img src={{persona.img}} alt="foto perfil">
    </div>
    <div class="acercade">
        <p class="titulo-seccion"> Acerca De Mi</p>
        <button type="buton" class="btn btn-success" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>

        <h3>Mi Nombre es <span>{{persona.apellido}},&nbsp;{{persona.nombre}}</span></h3>
        <h4><u>Full Stack Developer Jr.</u></h4>
        <p>{{persona.descripcion}}</p>
        <a href="https://firebasestorage.googleapis.com/v0/b/portfoliofrontend-18fbe.appspot.com/o/CV%2FCV%20WalterHalm.pdf?alt=media&token=1b7f4fab-0d39-4d89-813c-9506129ca72f" target="_blank" rel="noopener noreferrer">Descargar CV</a>
    </div>
   
</section>