<section id="hard">
    
    <div class="contenedor-skills" id="skills" >
        <h3>Hard & Soft Skills</h3>
        <button type="button" class="btn btn-success" routerLink="/newskill" *ngIf="isLogged">
            Nueva Skills
        </button>

        <div class="skills" *ngFor="let skill of skill">
            <div class="info">
                <p><span class="lista"></span>{{skill.nombre}}</p>
                <span class="porcentaje">{{skill.porcentaje}}%</span>
            </div>
            <div class="barra">
                <div id="html" class="barra-progreso" [style.width.%]="skill.porcentaje"></div>
            </div>
        
        <td *ngIf="isLogged"><button class="btn btn-success" routerLink="/editskill/{{skill.id}}"><i
            class="bi bi-pencil-fill"></i></button></td>
<td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(skill.id)"><i
            class="bi bi-trash"></i></button></td>
    </div>
    </div>
</section>


   <!-- <section id="hard">
    
    <div class="contenedor-skills" id="skills">
        <h3>Hard & Soft Skills</h3>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>HTML</p>
                <span class="porcentaje">85%</span>
            </div>
            <div class="barra">
                <div id="html" class="barra-progreso1"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>CSS</p>
                <span class="porcentaje">80%</span>
            </div>
            <div class="barra">
                <div id="css" class="barra-progreso2"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>Javascript</p>
                <span class="porcentaje">75%</span>
            </div>
            <div class="barra">
                <div id="js" class="barra-progreso3"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>ANGULAR</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="angular" class="barra-progreso4"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>INGLES</p>
                <span class="porcentaje">70%</span>
            </div>
            <div class="barra">
                <div id="ingles" class="barra-progreso5"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>GIT/GITHUB</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="git" class="barra-progreso6"></div>
            </div>
        </div>
        <div class="skills">
            <div class="info">
                <p><span class="lista"></span>BASE DE DATOS</p>
                <span class="porcentaje">80%</span>
            </div>
            <div class="barra">
                <div id="BD" class="barra-progreso7"></div>
            </div>
        </div>
    </div>
</section> !-->
