<section id="proyectos">
    <h3 class="titulo-seccion"> Proyectos</h3>
    <div class="contenedor-foto">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfoliofrontend-18fbe.appspot.com/o/Portfolio%2Farg-programa.png?alt=media&token=32ae959e-72f9-4c08-ac65-c6c149a78864" alt="foto proyecto">
    </div>
    <h3>Argentina Programa Segunda Etapa</h3>
    <p><b>Este proyecto consiste en realizar mi primera aplicacion WEB, curso realizado desde Mayo 2022 a Marzo 2023. Durante todos esos meses aprendi
        HTML, CCS, JAVASCRIPT, TYPESCRIPT, ANGULAR, JAVA, BASE DE DATOS, ARQUITECTURA WEB, SCRUM, COMUNICACION Y TRABAJO EN EQUIPO. Terminando con este Porfolio WEB. </b> </p>
    
